html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration:solid;
    color: #007bff;
}


h1 {
    text-align: center;
    margin-top: 20px;
}

header {
    text-align: center;
}


nav {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav a {
    margin: 0 10px;
    color: whitesmoke;
}


section {
    margin: 20px auto;
    width: 80%;
}

section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

section ul {
    list-style-type: none;
    padding-left: 0;
}

section li {
    margin-bottom: 5px;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
